# Large data files
data/raw/*.csv
data/raw/*.csv.gz
data/processed/*.parquet
data/processed/*.csv

# Python
__pycache__/
*.pyc
venv/
.env

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# DuckDB
*.db
*.db.wal
*.db-journal